* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7fefe;
    color: #333;
    line-height: 1.6;
    padding-top: 100px; /* adjust as necessary */
}

header {
    position: fixed; /* Changed from sticky to fixed */
    top: 0;
    z-index: 1000;
    background-color: #f7fefe;
    color: #333;
    padding: 1rem 0;
    width: 100%; /* Ensure the header spans the full width */
    
}

nav {
    display: flex; /* Use flexbox for the nav container */
    align-items: center; /* Center-align the nav items vertically */
    justify-content: center; /* Center-align the nav items horizontally */
    padding: 1rem 0; /* Adjust padding as needed */
}

.navbar-logo {
    display: flex; /* Use flexbox for logo alignment */
    align-items: center; /* Center-align the logo vertically */
    margin-right: 20px; /* Right margin for spacing between logo and nav items */
}

.navbar-logo img {
    max-height: 50px; /* Maximum height for the logo */
    width: auto; /* Width is auto to maintain aspect ratio */
}

nav ul {
    list-style: none;
    display: flex; /* This will lay out the nav items in a row */
    align-items: center; /* Center-align items vertically */
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px; /* Adjust spacing between nav items */
}

nav ul li a {
    color: rgb(35, 3, 3);
    text-decoration: none;
    font-size: 16px; /* Adjust font size as needed */
    padding: 8px 10px; /* Padding for clickable area */
}

nav ul li a:hover {
    color: rgb(30, 29, 29);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    white-space: nowrap; /* Prevents text from wrapping */
    font-size: 12px; /* Adjust the font size as needed */

    z-index: 1001; /* Higher than the header's z-index */
    top: 100%; /* Adjust this value as needed to position the dropdown right below the nav bar */
}

.dropdown-content a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
    white-space: nowrap; /* Prevents text from wrapping */
    font-size: 14px; /* Adjust the font size as needed */
}

main img {
    max-width: 100%; /* Maximum width but can be smaller */
    height: auto; /* Maintain the natural aspect ratio */
    display: block; /* For block level, which allows margin: auto to work */
    margin: 0 auto; /* Center the image if not full width */
    margin-bottom: 50px; /* Adds space below the image */
}
main section p {
    margin: 0 auto; /* Adds margin on the top and bottom, auto on the sides for centering */
    max-width: 60%; /* Adjust the maximum width as needed */
    text-align: justify; /* Justifies the text */
    line-height: 2.6; /* This is the line spacing */
    text-indent: 15px;
}
main {
    /* Other styles if any */
    margin-bottom: 200px; /* Adds space below the main content */
}

#home h1 {
    text-align: center; /* Centers the text */
    
}

#home {
    margin-top: 20px; /* Adds space above the section, below the image */
}
#newpage h1 {
    text-align: center; /* Centers the text */
    
}

#newpage {
    margin-top:5px; /* Adds space above the section, below the image */
}

nav ul li.dropdown > a:after {
    content: " \25BC"; /* Downwards arrow */
    font-size: 0.8em; /* Adjust the size of the arrow */
    margin-left: 5px; /* Space between text and arrow */
}

.bold-and-large {
    font-size: 18px; /* Adjust the size as needed */
    font-weight:bolder;
}

#countdown {
    text-align: center;
    margin: 20px 0; /* Adjust as needed */
    font-size: 40px; /* Adjust the size as needed */
    font-weight:bolder;
    color: rgb(169, 38, 45);
    margin-bottom: 100px; 
}
#nav-logo {
    height: 40px; /* Adjust the size as needed */
    vertical-align: middle; /* Align with nav items if necessary */
    margin-right: 20px; /* Space between logo and nav items */
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #f7fefe;
    text-align: left;
}

td {
    text-align: left;
    vertical-align: top;
}

footer {
    text-align: center; /* Centers the text inside the footer */
    width: 100%; /* Ensures the footer spans the full width of the page */
    padding: 20px 0;
}

.contact-info p {
    text-align: left; /* Aligns text to the left */
    margin-left: auto; /* Center aligns the contact info div */
    margin-right: auto; /* Center aligns the contact info div */
    max-width: 800px; /* Adjusts the width of the contact info area */
}

.contact-info {
    display: block; /* Uses block to stack each piece of info */
    margin-bottom: 10px; /* Adjusts space between lines */
}

.contact-info a {
    color: #007bff; /* Adjusts the color of email link */
    text-decoration: none; /* Removes underline from links */
}

.contact-info a:hover {
    text-decoration: underline; /* Adds underline on hover for links */
}

.contact-info strong {
    font-weight: bold; /* Makes certain text bold */
}

.google-map {
    text-align: center; /* Centers the iframe map */
    padding: 20px 0; /* Adds padding above and below the map */
}

.google-map iframe {
    width: 100%; /* Sets the width of the map to fill the container */
    max-width: 800px; /* Optional: Sets a max-width for larger screens */
    height: 550px; /* Sets the height of the map */
    border: none; /* Removes the border around the iframe */
    margin: auto; /* Centers the map horizontally */
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
@media screen and (max-width: 768px) {
    /* Adjust styles for mobile devices */
    /* .navbar-logo img {
        max-height: 40px; /* smaller logo for mobile */
    /* }
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul li {
        width: 100%;
    }
    /* ... other styles ... */


    .navbar-container {
        position: relative; /* This is necessary for absolute positioning inside the container */
        overflow-x: auto; /* Makes the container scrollable horizontally */
        white-space: nowrap; /* Ensures nav items stay in one line */
    }

    nav ul {
        flex-wrap: nowrap; /* Prevents wrapping of nav items */
        justify-content: flex-start; /* Aligns nav items to the start */
    }

    nav ul li {
        display: inline-block; /* Makes li elements line up in a row */
        margin: 0 10px; /* Adjust spacing between nav items */
    }

    /* Style for the main image to be responsive */
    main img {
        width: 100%; /* Scales image to the width of its container */
        height: auto; /* Keeps the aspect ratio */
    }
}
.indented p {
    padding-left: 10 px; /* Adjust this value to match the alignment of "Kampüsümüze" */
    text-indent: -8 px; /* This should be the negative value of padding-left */
}


.language-switcher {
    position: absolute;
    right: 0; /* Aligns the switcher to the right edge */
    top: 0; /* Aligns the switcher to the top of the navbar-container */
    padding: 8px 10px; /* Adjust padding as needed */
}


.language-switcher a {
    color: rgb(35, 3, 3); /* Same as your other nav links */
    text-decoration: none;
    font-size: 16px;
}

.language-switcher a:hover {
    color: rgb(30, 29, 29); /* Hover effect */
}

